html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  a{
    text-decoration: none;
    
  }
  
  
  img.background{
    display:block;
    position: absolute;
    height:59vh;
    object-fit:fill;
    width:100%;
    z-index: 0;
  }
  
  
  nav{
    position: relative;
    z-index:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height:13vh;
    justify-content: space-around;
  }
  
  
  img.logos{
    position: absolute;
    left:40px;
    top:25px;
    height: 60px;
    width: 200px;
  }
  
  .nav-bar-list{
    display: flex;
    padding:20px;
    font-size: 200px;
    margin-left:65px;
    margin-top:5px;
    text-align:center;
    /* padding:-20px; */
  
  }
  .nav-bar-list a {
    color:#fff;
    text-decoration: none;
    letter-spacing: none;
    font-weight:500;
    font-size: 18px;
    padding-top:12px;
    padding-right: 43px;
  
  }
  li.nav-link  {
    list-style-type: none;
  
  }
  a.log {
  
    text-decoration: none;
    color:#fff;
  
  
  }
  .login{
    position: absolute;
    text-decoration: none;
    color:#fff;
    font-size:16px;
    right:225px;
    top:45px;
  }
  
  .burger div{
    /* position: absolute; */
    right:20px;
    width:23px;
    height: 4px;
    background-color:#fff;
    margin:4px;
  }
  .burMenu{
  position: absolute;
  right:18px;
  top:25px;
  }
  
  .burger{
    display: none;
  }
  .startButton{
    position: absolute;
    top:35px;
    right:40px;
  }
  .getStarted {
    position: relative;
    z-index: 1;
    background-color: #5bc399;
    border-color:none;
    font-size:1rem;
    border:1px solid transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color:#fff;
    padding: 12px 30px;
    border-radius: 5px;
  }
  .getStarted:hover{
    background-color:#4eab86;
  }
 
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:40px;
  }
  
  .modernize-Delivery-title{
    top:4vh;
    position: relative;
    z-index:0;
    letter-spacing: 0.06rem;
    color:#fff;
    font-family:"Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
    line-height: 1.15;
    text-align: center;
    font-size: 51px;
    font-weight: 600;
    text-shadow:   0 2px 4px rgba(0,0,0,.5);
  }
  
  .modernize-Delivery-p{
    z-index: 0;
    position: relative;
    top:55px;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    font-weight: 300;
    line-height:2.5rem;
    color:#fff;
    font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  
  }
  
  .move-beyond{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .button-getStarted{
    display:flex;
    justify-content: center;
    align-items: center;
  
  }
  .get-started{
    background-color: #5bc399;
    border-color:none;
    font-size: 16px;
    border:1px solid transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color:#fff;
    padding: 18px 30px;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:100px;
  }
  
  .get-started:hover{
    background-color:#4eab86;
  }
  
  .move-beyond-title{
    margin-top:10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .move-p{
    text-align: center;
    font-size: 16;
    font-weight: 400;
    letter-spacing: 0.01rem;
  }
  .move-p2{
    text-align: center;
    font-size: 16;
    font-weight: 400;
    margin-top:-15px;
    letter-spacing: 0.01rem;
  }
  
  
  .move-beyond{
    font-weight: bold;
   font-size: 16px;
   text-align: center;
   /* margin-top:30px; */
  }
  .pipe-line-p{
    font-size: 15px;
    text-align: center;
    /* margin-bottom:20px; */
  }
  
  @media screen and (max-width:1200px){
    .nav-bar-list a{
      padding-right:40px;
      margin-left:-20px;
    }
  }
  @media screen and (max-width:800px){
    img.background{
      height:95vh;
    }
  }
  @media screen and (max-width:1024px){
    #chrome{
    margin-top:30vh;
    height:200px;
    /* width:50%; */
  
  }
  img.background{
    height:70vh;
  }
  
   img.logos{
      height:40px;
      width:140px;
      margin-left:2px;
  }
  .modernize-Delivery-title{
    font-size: 40px;
  }
  
  
  }
  
  
  @media screen and (max-width:1024px){
    .login {
      display: none;
    }
    .getStarted{
      display:none;
    }
    .nav-link{
      display:none;
    }
  
    .login{
      display:none;
    }
    .burger{
    display:block;
   }
  }
  
  @media screen and (max-width:764px){
    img.chromeTab{
      width:100%;
      
    }
     .move-p , .move-p2{
      font-size:14px;
    }
  }
  
  /* TODO: BURGER MENU VIEW */
  
  .burImg{
    position: fixed;
    z-index: 2;
    height: 100%;
  }
  
  .menuBur{
    text-align: left;
    position: fixed;
    color:#fff;
    z-index:2;
    text-decoration: none;
    list-style-type: none;
    margin-top:10px;
    margin-left:-20px;
  }
  .menuBur li{
   padding-top:40px;
   font-size: 22px;
   line-height: 26px;
  }
  
  img.logoBur{
    position: relative;
    z-index: 3;
    width:136px;
    height:40px;
    margin-left:20px;
    margin-top:20px;
  }
  .burStartedButton{
    position: fixed;
    z-index: 2;
    color:#fff;
    left:20px;
    bottom:50px;
    background-color: #5bc399;
    border-color:none;
    font-size: 16px;
    border:1px solid transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color:#fff;
    padding: 12px 30px;
    border-radius: 5px;
    
  }
  .burLogin{
    position: fixed;
    z-index:3;
    color:#fff;
    bottom:124px;
    left:20px;
  }
  
  
  @media screen and (max-width:800px){
    .burgerMenu{
      display:none;
    }
  }
  
  /* FIXME: XXXXXXXXX close xxxxxxx */
  .close {
    position: fixed;
    z-index: 3;
    right: 1px;
    top: 30px;
    width: 35px;
    height: 32px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    z-index: 2;
    content: " ";
    height: 23px;
    width: 4px;
    color:#fff;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
    color:#ffff;
  }
  .close:after {
    transform: rotate(-45deg);
  }


  /* TODO: CODE SECTION START */
  
  .main-info{
      display:flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      color:#000;
      margin-top:250px;
      
  }
  .install{
    font-size: 30px;
    font-weight: 600;
    margin-bottom:-20px;
  }

  .info-container{
    width:50%;
  }

  .support-info{
      color:#858585;
      font-size: 16px;
      text-align: left;
      margin-top:40px;
      /* margin-bottom: -1px; */
  }
  .support-info2{
      color:#858585;
      font-size: 16px;
      text-align: left;
      margin-top:40px;
      margin-bottom:130px;
  }

  .symbols{
      color:#008480;
      
  }

  .code-block{
  
     text-align: left;
    
  }
  pre{
      color:#858585;
      background-color:#121822;
      padding:15px;
      font-weight: thin;
      text-align: left;
      white-space: pre-line;
      /* margin-top:-10px; */
      /* width:100%; */
    
  }
  .mask{
      color:#008480;;
      border: 1px solid #bababa;
      border-radius: 3px;
      padding:2px 6px;
      font-weight: 100;
  }
/* FIXME: create workspace  */




  .workspace-container{

    width:50%;
  }

  .atomist-workspace{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: left;
   background-color: #f7f7f7;
   

    
  }
  .workspace-container{
    text-align: left;
  }
  .workspace-info{
   text-align: left;

    
  }
  .workspace-title{
    text-align: left;
    font-size: 30px;
    margin-top:70px;
    font-weight: 700;
  }

.workspace-support-info1{
    color:#858585;
    font-size: 16px;
    text-align: left;
    margin-bottom:30px;
}
.workspace-pre{
 padding-left:20px;
  font-weight: 100;
  line-height: 26px;
  font-size: 14px;

}

.secondary-title{
  font-size:16px;
  font-weight: 700;
}
.secondary-title2{
  font-size:16px;
  font-weight: 700;
  margin-top:40px;
}
.code-blocked{
  margin-bottom:170px;
}


/* FIXME: lower section */
.delivery-container{
 width:50%;
}

.delivery-outline{
  display: flex;
  justify-content: center;
  align-content: center;
  width:100%;
}
.delivery-title{
  font-size:30px;
  font-weight: 700;
  margin-top:60px;
  margin-bottom: 30px;
}

.sy{
  color:#4eab86;
}

.support-info3{
  color:#858585;
font-size: 16px;
text-align: left;
}

.info-spacer{
  margin-top:40px;
}
.info-spacer2{
  margin-top:40px;
  margin-bottom:40px;
}
.lower-info{
  margin-top:40px;
}

.tutorials{
  padding:10px;
  color:#4eab86;
  background-color: transparent;
  margin-bottom:80px;
  outline:none;
}
.tutorials:focus{
  outline:none !important;
}
.next{
  color:#858585;
}


/* TODO: MODAL */

#modal-circle{
  position: fixed;
  bottom:20px;
  right:20px;
  background-color: #5bc399;
  height:60px;
  width:60px;
  border-radius: 50%;
  z-index:3;
  text-decoration: none;
  outline:none;
}
#modal-circle2{
  position: fixed;
  bottom:20px;
  right:20px;
  background-color: #5bc399;
  height:60px;
  width:60px;
  border-radius: 50%;
  z-index:3;
}
.fa-comment-alt{
  color:white;
  font-size: 35px;
  margin-bottom: 12px;
  
}
.fa-times{
  color:white;
  font-size:35px;
}

.card-modal {
  position:fixed;
  color:green;
  /* border:1px solid black; */
  height:650px;
  width:375px;
  bottom:100px;
  right:20px;
  border-radius: 2%;
  z-index: 3;
  overflow:scroll;
  -webkit-box-shadow: 1px 1px 18px 5px rgba(0,0,0,0.14); 
  box-shadow: 1px 1px 18px 5px rgba(0,0,0,0.14);
}
@media (min-width:1500px){
  .card-modal{
    height:75%;
  }
  .bottom-card-top{
    margin-top:-95px;

  }
}

.top-card-modal{
  position: fixed;
  background-image:linear-gradient(-90deg, #33946e, #5bc399);
  height:27vh;
  width:375px;
  border-top-left-radius: 3%;
  border-top-right-radius:3%;
  /* overflow:scroll; */
}
.card-title{
  /* display: none; */
  color:#f2f2f2;
  position: absolute;
  left:40px;
  top:70px;
  font-size: 30px;
  font-weight:Extra-Light;
  font-family: 'Montserrat', sans-serif;
}
.wave{
  font-size: 30px;
  margin-left:6px;
}

.card-modal-img{
  height:35px;
  width:30px;
  position: absolute;
  top:22px;
  left:40px;
}
.bottom-modal{
  background-color: #fff;
  height:100%;
  border-radius: 3%;
}
.bottom-modal{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow:hidden;
  background-color:#fff;
}
.bottom-card-top{
  margin-top:135px;
  width:90%;
  height:160px;
  position: relative;
  background-color:#fff;
  border-radius: 2%;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23); 
  box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23);
  border-top:1px solid #4eab86;
}
.bottom-card-top {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bottom-card-middle {
  opacity: 0;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.bottom-card-bottom {
  opacity: 0;
  -webkit-transition: all 1.1s ease-in-out;
  -moz-transition: all 1.1s ease-in-out;
  -ms-transition: all 1.1s ease-in-out;
  -o-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

.bottom-card-middle{
  width:90%;
  height:230px;
  position: relative;
  margin-top:20px;
  background-color:#fff;
  border-radius: 2%;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23); 
  box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23);
  border-top: 1px solid #4eab86; 
 
}
.bottom-card-bottom{
  width:90%;
  height:150px;
  position:relative;
  margin-top:20px;
  background-color:#fff;
  border-top:1px solid #4eab86;
  overflow: scroll;
  border-radius: 2%;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23); 
  box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.23)
}
.card-top-title{
  color:rgb(31, 28, 28);
  margin-top:20px;
  margin-left:20px;
  font-weight:thin;
}
.card-top-p{
  color:#717274;
  font-size: 12px;
  line-height:1.8rem;
}
.card-btn-con{
  outline: none;
}
.btn-container{
margin-top:-5px;
}
.btn-img{
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-left:20px;
  border:.1px solid#fff;
}
.btn-img2{
  height:50px;
  width:50px;
  border-radius: 50%;
  margin-left:-10px;
  border:1px solid #fff;
}

.card-top-btn{
  background-color: #5bc399;
  color:#fff;
  border-radius: 20px;
  width:180px;
  height:41px;
  position: absolute;
  top:85px;
  right:35px;
  text-decoration: none;
  outline:none!important;
  font-size: 12px;
}
.fa-paper-plane{
  font-size: 14px;
  margin-right:10px;
}
.card-middle-title{
  color:#1b2937;
  margin-top:20px;
  margin-left:20px;
}
.card-middle-p{
  color:#717274;
  font-size: 13px;
  margin-left:20px;
  margin-top:-5px;
  font-weight: thin;

}
.email-text{
  color:#000;
  font-size: 13px;
  margin-top:-30px;
  margin-left:20px;
}
.input{
  display:flex;
  justify-content: center;
  align-items: center;
}
.field{
  width:250px;
  height:40px;
  outline:none;
  border-top-left-radius: 5%;
  border-bottom-left-radius:5%;
  border:1px solid rgba(87, 85, 85, 0.153);
}
.cancel{
  text-align: center;
  color:#5bc399;
  margin-top:20px;
}
.input-btn{
  background-color:#5bc399;
  height:40px;
  width:40px;
  border:none;
  border-top-right-radius: 5%;
  border-bottom-right-radius:5%;
  outline:none!important;
}
.fa-chevron-right{
  color:white;
}
.bottom-card-p{
  color:#717274;
  font-size: 13px;
  text-align:center;
  margin-top:30px;
}

input[type="email"].field::-webkit-input-placeholder {
  font-size: 12px;
  text-align: center;
  color:#9b9c9d;
}

/* FIXME: FOOTER  */


footer{
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
  background-color: #F7F7F7;
  color: #858585;
  text-decoration: none;
  text-align: center;
  /* width:100vw; */
}
footer img{
  margin: 60px auto 0;
  height: 50px;
}
.copyright{
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-bottom: 30px;
}
.footer-nav{
  margin-top: 30px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footer-nav_column-center{
  margin:0 30px;
}
.head-foot{
  font-size: 30px;
  margin-bottom: 30px;
}
.head-p{
  font-size:16px;
  margin-bottom:30px;
}
.social-links{
  display:inline-block;
  font-size: 26px;
 margin-right:40px;
}
.social-links a{
  text-decoration: none;
  color: #227F7E;
  
}
.readyHeader{
 font-size: 100px;
}
.fa-twitter{
  margin-right:40px;
  margin-left:20px;
}
.fa-github{
  margin-right: 40px;
}
.fa-slack{
  margin-right:40px;
}
.social-links a:hover{
  text-decoration: none;
  color: #227F7E;
}
.legal-links{
  padding-bottom: 60px;
}
.created1{
  margin-top:40px;
  font-size: 14px;
  
}
.created2{
  margin-top:-10px;
  font-size: 14px;
}
footer ul{
  padding: 0;
  list-style: none;
}
footer ul li a, footer .legal-links a{
  text-decoration: none;
  color: #858585;
  
}
footer ul li a:hover, footer .legal-links a:hover{
  text-decoration: none;
  color: #858585;
}
.footer-nav_column-left{
  line-height: 3rem;
  text-align:right;
}
.footer-nav_column-center{
  line-height: 3rem;
  margin-left:70px;
  margin-right: 70px;
  margin-bottom: 25px;
}
.footer-nav_column-right{
  line-height: 3rem;
  text-align: left;
}



/* FIXME:  button animation*/


#modal-circle{
  overflow:hidden;
}

#modal-circle span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  color: #fff;
  transition: 0.2s ease-in-out;
}
/* #modal-circle span:nth-child(2) {
  
} */
#modal-circle span.active {
  transform: translateY(-125%)
}
.fa-comment{
  margin-bottom:15px;
}