html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  
}


img.background{
  display:block;
  position: absolute;
  height:740px;
  object-fit: cover;
  width:100%;
  z-index: 0;
}


nav{
  position: relative;
  z-index:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center;
  min-height:13vh;
  justify-content: space-around;
}


img.logos{
  position: absolute;
  left:40px;
  top:25px;
  height: 60px;
  width: 200px;
}

.nav-bar-list{
  display: flex;
  padding:20px;
  font-size: 200px;
  margin-left:65px;
  margin-top:5px;
  text-align:center;
  /* padding:-20px; */

}
.nav-bar-list a {
  color:#fff;
  text-decoration: none;
  letter-spacing: none;
  font-weight:500;
  font-size: 18px;
  padding-top:12px;
  padding-right: 43px;

}
li.nav-link  {
  list-style-type: none;

}
a.log {

  text-decoration: none;
  color:#fff;


}
.login{
  position: absolute;
  text-decoration: none;
  color:#fff;
  font-size:16px;
  right:225px;
  top:45px;
}

.burger div{
  /* position: absolute; */
  right:20px;
  width:23px;
  height: 4px;
  background-color:#fff;
  margin:4px;
}
.burMenu{
position: absolute;
right:18px;
top:25px;
}

.burger{
  display: none;
}
.startButton{
  position: absolute;
  top:35px;
  right:40px;
}
.getStarted {
  position: relative;
  z-index: 1;
  background-color: #5bc399;
  border-color:none;
  font-size:1rem;
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 12px 30px;
  border-radius: 5px;
}
.getStarted:hover{
  background-color:#4eab86;
}
#chrome{
  display: block;
  max-height:400px;
  min-height:410px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:7rem;
}

img.chromeTab{
  display: block;
  height:409px;
  width:770px;
  background:no-repeat 50% 0;
  position: relative;
  min-height: 400px;
  z-index: 1;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:40px;
}

.modernize-Delivery-title{
  top:5vh;
  position: relative;
  z-index:0;
  letter-spacing: 0.06rem;
  color:#fff;
  font-family:"Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  line-height: 1.15;
  text-align: center;
  font-size: 51px;
  font-weight: 600;
  text-shadow:   0 2px 4px rgba(0,0,0,.5);
}

.modernize-Delivery-p{
  z-index: 0;
  position: relative;
  top:65px;
  font-size: 1.3124rem;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  line-height: 1.75rem;
  color:#fff;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
}

.move-beyond{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.button-getStarted{
  display:flex;
  justify-content: center;
  align-items: center;

}
.get-started{
  background-color: #5bc399;
  border-color:none;
  font-size: 16px;
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 18px 30px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:100px;
}

.get-started:hover{
  background-color:#4eab86;
}

.move-beyond-title{
  margin-top:10px;
  font-size: 16px;
  font-weight: bold;
}

.move-p{
  text-align: center;
  font-size: 16;
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.move-p2{
  text-align: center;
  font-size: 16;
  font-weight: 400;
  margin-top:-15px;
  letter-spacing: 0.01rem;
}


.move-beyond{
  font-weight: bold;
 font-size: 16px;
 text-align: center;
 /* margin-top:30px; */
}
.pipe-line-p{
  font-size: 15px;
  text-align: center;
  /* margin-bottom:20px; */
}

@media screen and (max-width:1200px){
  .nav-bar-list a{
    padding-right:40px;
    margin-left:-20px;
  }
}
@media screen and (max-width:800px){
  img.background{
    height:95vh;
  }
}
@media screen and (max-width:1024px){
  #chrome{
  margin-top:30vh;
  height:200px;
  /* width:50%; */

}
img.background{
  height:70vh;
}

 img.logos{
    height:40px;
    width:140px;
    margin-left:2px;
}
.modernize-Delivery-title{
  font-size: 40px;
}


}


@media screen and (max-width:1024px){
  .login {
    display: none;
  }
  .getStarted{
    display:none;
  }
  .nav-link{
    display:none;
  }

  .login{
    display:none;
  }
  .burger{
  display:block;
 }
}

@media screen and (max-width:764px){
  img.chromeTab{
    width:100%;
    
  }
   .move-p , .move-p2{
    font-size:14px;
  }
}

/* TODO: BURGER MENU VIEW */

.burImg{
  position: fixed;
  z-index: 2;
  height: 100%;
}

.menuBur{
  text-align: left;
  position: fixed;
  color:#fff;
  z-index:2;
  text-decoration: none;
  list-style-type: none;
  margin-top:10px;
  margin-left:-20px;
}
.menuBur li{
 padding-top:40px;
 font-size: 22px;
 line-height: 26px;
}

img.logoBur{
  position: relative;
  z-index: 3;
  width:136px;
  height:40px;
  margin-left:20px;
  margin-top:20px;
}
.burStartedButton{
  position: fixed;
  z-index: 2;
  color:#fff;
  left:20px;
  bottom:50px;
  background-color: #5bc399;
  border-color:none;
  font-size: 16px;
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 12px 30px;
  border-radius: 5px;
  
}
.burLogin{
  position: fixed;
  z-index:3;
  color:#fff;
  bottom:124px;
  left:20px;
}


@media screen and (max-width:800px){
  .burgerMenu{
    display:none;
  }
}

/* FIXME: XXXXXXXXX close xxxxxxx */
.close {
  position: fixed;
  z-index: 3;
  right: 1px;
  top: 30px;
  width: 35px;
  height: 32px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  z-index: 2;
  content: " ";
  height: 23px;
  width: 4px;
  color:#fff;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
  color:#ffff;
}
.close:after {
  transform: rotate(-45deg);
}





/* <<<<<<< HEAD */

.platform-all{
  background-color: white;
  padding: 60px 7% 80px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#platform-header{
  font-size: 1.75rem;
  margin-bottom: 40px;
  line-height: 1.25;
  font-weight: 650;
}
#YAML-link{
  text-decoration: none;
  color: #5bc399;
}
.PlatBoxes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.PlatRow1, .PlatRow2, .PlatRow3{
  display: flex;
  flex-direction: column;
}
.platform-box{
  background-color: #F7F7F7;
  margin: 30px 30px 0px;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: auto;
}
@media (min-width: 770px) {
  .PlatRow1, .PlatRow2, .PlatRow3{
    flex-direction: row;
    align-content: space-between;
  }
  .platform-box{
    width: 50%;
    margin: 30px 15px 0;
  }
}
@media (min-width: 1025px){
  .PlatRow1, .PlatRow2, .PlatRow3{
    flex-direction: row;
    align-content: space-between;
  }
  .platform-box{
    width: 50%;
    flex-direction: row;
  }
}
.platform-img{
  width: 160px;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  align-self: center;
}
.platform-text{
  line-height: 1.875rem;
  display: flex;
  flex-direction: column;
}
.platform-title{
  width: auto;
  font-size: 1.75rem;
  margin-bottom:0 0 .5rem 0;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  padding: 0;
  font-size: 20px;
}
.platform-info{
  width: auto;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.875rem;
  color: #717274;
  font-weight: 400;
}
.platform-button{
  border-color: transparent;
  background-color: #5bc399;
  font-size: 1rem;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin-top: 20px;
  outline: none;
  padding: 20px 30px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  -webkit-appearance: none;
  line-height: 1.15;
}
.platform-button-container{
  width: 100%;
}
@media (min-width: 550px){
  .platform-title{
    font-size:  1.3125rem;
  }
}
/*@media (min-width: 770px) {
  .platform-row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
  }
  #platform-header, .platform-box{
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  #platform-header{
    width: 100%;
  }
    .platform-box{
    width: 50%;
  }*/


/* FIXME: THE Software delivery machine SECTION */

.softwareDelivery{
  margin-top:50px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width:100%;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;

}
.software-title{

  width:100%;
}
.software-main{
  font-size: 32px;
  color:#2a2a2a;
  font-weight: 600;
  line-height: 37.5px;
  font-family:"Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
 }

.software-main2{
 font-size:18px;
 line-height: 30px;
 color:#717274;
 padding-bottom:15px;
 letter-spacing: .012rem;
}
.software-p{
  color:#717274;
  font-size:18px;
  margin-bottom:30px;
  letter-spacing: .012rem;

}
@media screen and (max-width:1000px){
 .software-main2{
   font-size:16px;
   line-height: 24px;
 }
 .software-p{
   font-size: 16px;
   margin-bottom: 50px;
   line-height: 24px;
 }
 .software-main{
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
 }
}


.outer-board{
  margin:0,auto;
  width:80%;
  margin-bottom:100px;
}

.back-board{
  position: relative;
  width:1000px;
  height:820px;
  background-color: #f7f7f7;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width:1600px) {

  .back-board{
    width:80vw;
    
  }

} 


.software-title{
  text-align: center;

}

/* TODO:part1 */
.mainSection1{
  position: relative;
  display: inline-block;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  margin:50px 30px 10px 50px;
}

.main-title1, .main-title2, .main-title3, .main-title4,.main-title5{
  padding-left:30px;
  font-size: 18px;
}

.main-p1, .main-p2, .main-p3,.main-p4,.main-p5{
  margin-left:30px;
  font-size: 13px;
  line-height: 1.5rem;
  color:#717274;
 
}
.circle1,.circle2,.circle3,.circle4,.circle5{
  height:15px;
  width:15px;
  border-radius: 50%;
  position: absolute;
}
.circle1{
  background-color: #007bbd;

}


/* TODO: part 2 */
.mainSection2{
  position: relative;
  margin-left:295px;
  font-size: 13px;
  margin-right:30px;
  word-wrap: break-word;
  margin-top:60px;
}

.circle2{
  background-color: #5bbcc3;
  top:3px;

}

/* TODO:Section3 */

.mainSection3{
 margin-left:350px;
 margin-top:80px;
 margin-bottom:60px;
 margin-right:30px;
}

.circle3{
  background-color:#c6dd72;
margin-top:3px;

}
/* TODO:section4 */

.mainSection4{
  position: relative;
  margin-left:295px;
  font-size: 13px;
  margin-right:40px;
  word-wrap: break-word;
  margin-right:30px;
 }

 .circle4{
   background-color:#226f7e;
   margin-top:3px;
 }

 /* TODO:section5 */
 .mainSection5{
  position: relative;
  display: inline-block;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  margin:50px 20px 10px 50px;
  /* margin:50px; */

}

.circle5{
  background-color: #1b2937;
}




/* FIXME: Image */
.softwareImg{
  height:0%;
  width:30%;
  margin-left:-201px;

}
.SDM{
  height:500px;
  width:500px;
}

.softwareImgTop{
 display:flex;
 justify-content: center;
 margin-bottom:30px;
}
.SDMtop{
  /* display: flex; */
  height:500px;
  width:498px;
  display:none;
}
/* display SDM img on top of board */
@media screen and (max-width:1000px){
  .SDMtop{
    display: block;
  }
}
/* media query for SDM img section */

 @media screen and (max-width:1200px){
   .SDM{
     height:400px;
     width:400px;
   }
   .softwareImg{
     margin-left:-100px;
     margin-top:30px;

   }
   .mainSection2,.mainSection2.mainSection3.mainSection4{
     margin-top:10px;


   }
   .mainSection5{
     margin-top:-10px;

   }
 }


 @media screen and (max-width:1000px){
   .SDM{
     display:none;
   }
 }

 @media screen and (max-width:1000px){
  .back-board{
    height:100%;
    min-width:90vw;
  }
   .mainSection1{
     margin-top:35px;
     margin-left:35px;
     margin-bottom: 30px;
   }
   .mainSection2{
     margin-left:35px;
     margin-bottom: 10px;
   }
   .mainSection3{
     margin-left:35px;
     margin-bottom:30px;
     margin-top:30px;
   }
   .mainSection4{
     margin-left:35px;
     margin-bottom:40px;
   }
  .mainSection5{
    margin-left:35px;
    margin-bottom:25px;
  }
}
 /* }@media screen and (min-width:1150px),screen and (min-width:1000px){
   .mainSection2{
     margin-left:300px;
     color:red;
   }
   .mainSection5{
     margin-top:25px;
     margin-left:300px;
   }
 } */
 @media screen and (max-width:768px){
   .back-board{
     height:100%;
     min-width:90vw;
   }
   .SDMtop{
     height: 450px;
     width:448px;
   }

  }

/* Get Your Own Software Delivery Machine */
.GetYourBox {
  background-color: #F7F7F7;
  text-align: center;
  padding: 40px 20px 50px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  font-weight: 400;
}
.CloudBoxes{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 770px) {
  .CloudBoxes{
    flex-direction: row;
  }
}
.CloudHostedBox{
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0,0,0, 0.25);
  text-align: left;
  margin: 20px 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.CloudHosted{
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 5px;
}
.GrayText{
  color: #9E9EA7;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
    width: 100%;
}
.CloudList{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  line-height: 1.5rem;
}
.GreenButtons{
  padding: 10px 20px;
  font-size: 14px;
  height: auto;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 5px;
  color:White;
  display: inline-block;
  outline:none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  background-color: #227F7E;
}



  /* FIXME:   TODO: THE LATEST section */




.outline-box{
  margin-bottom:40px;
}

  .latestOutline{
    margin-top:50px;
     text-align: center;

  }

  .late{
    display:inline-block;
    width:80%;

  }

  .latestTitle{
    text-align: left;
    font-size: 20px;
    color:#2a2a2a;
    margin-left:1px;
    width:100%;
  }
  /* top of news IMG */
  .top-news-img{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    margin-bottom:30px;
  }

  .newsImg{
    height:170px;
    width:80%;
    object-fit: cover;
    border:4px solid white;
    box-shadow: 0px 80px 90px 0px rgba(0, 0, 0, 0.1);
  }
  .puzzles{
    margin-top:20px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
     /* grid-template-columns: 195px 800px;
    grid-template-rows:  60px 100px 100px;
    grid-gap: 10px; */
  }

  /* content p */
  .puzzlesC{
    display:inline-block;
    width: 80%;
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
  }

/* image */

    .docker{
      display:flex;
     justify-content:flex-start;
      border: 5px solid white;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
      height:170px;
      width: 170px;
      margin-right:40px;
      display:inline-block;
      margin-bottom: 100px;
      /* margin-top:-80px; */
    }



  .puzzlesInfo{
    display:block;
    font-size:16px;
    color:#717274;
    line-height: 28px;

  }
  .puzzlesTitle{
    font-size: 20px;
    margin-top:-10px;

  }
  .posted1{
    color:#9e9ea7;
    font-size: 14px;

  }


  /*button  */
  .readArticleBtn{
    border:2px solid #5bc399;
    margin-top:10px;
    color:#5bc399;
    padding:6px 15px;
    font-size: 14px;
    background-color:none;
    border-radius: 5px;
    /* margin-bottom:40px; */
  }
  .readArticleBtn:hover{
    background-color:#5bc399;
    color:#fff;
  }

/*TODO: media for Latest news  */

@media screen and (max-width:1000px){
  .puzzlesImg{
    display:none;
  }

}

@media screen and (min-width:1002px){

  .top-news-img{
    display:none;
  }

}

@media  screen and (max-width:768px){

  .newsImg{
    width:90%;
  }
  .puzzlesC{
    width:89%;
  }
}

@media (min-width:1600px){
  .puzzlesC{
    width:50vw;
  }
  .late{
    width:50%;
  }

}
/* Ready to try Atomist? */
.ReadyToTry{
  background: url("../assets/CTA-banner-texture.jpg") blue;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px 20px;
  text-align: center;
}
.ReadyButton{
  border-color: transparent;
  background-color: #5bc399;
  border:1px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0;
  outline:none;
  text-align: center;
  vertical-align: middle;
  padding: 20px 30px;
}
footer{
  background-color: #F7F7F7;
  color: #858585;
  text-decoration: none;
  text-align: center;
}
footer img{
  margin: 60px auto 0;
  height: 50px;
}
.copyright{
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin-bottom: 30px;
}
.footer-nav{
  margin-top: 30px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footer-nav_column-center{
  margin:0 30px;
}
.social-links{
  display:inline-block;
}
.social-links a{
  text-decoration: none;
  color: #227F7E;
}
.social-links a:hover{
  text-decoration: none;
  color: #227F7E;
}
.legal-links{
  padding-bottom: 60px;
}
footer ul{
  padding: 0;
  list-style: none;
}
footer ul li a, footer .legal-links a{
  text-decoration: none;
  color: #858585;
}
footer ul li a:hover, footer .legal-links a:hover{
  text-decoration: none;
  color: #858585;
}


/* FIXME: MODAL */

#modal-circle{
  position: fixed;
  bottom:20px;
  right:20px;
  background-color: #5bc399;
  height:60px;
  width:60px;
  border-radius: 50%;
  z-index:3;
  text-decoration: none;
  outline:none;
}
#modal-circle2{
  position: fixed;
  bottom:20px;
  right:20px;
  background-color: #5bc399;
  height:60px;
  width:60px;
  border-radius: 50%;
  z-index:3;
}
.fa-comment{
  color:white;
  font-size: 35px;
  
}
.fa-times{
  color:white;
  font-size:35px;
}

.card-modal {
  position:fixed;
  color:green;
  /* border:1px solid black; */
  height:650px;
  width:375px;
  bottom:100px;
  right:20px;
  border-radius: 2%;
  z-index: 3;
  overflow:scroll;
  -webkit-box-shadow: 9px 11px 9px -3px rgba(0,0,0,0.24); 
  box-shadow: 9px 11px 9px -3px rgba(0,0,0,0.24);
}
.top-card-modal{
  position: fixed;
  background-image:linear-gradient(-90deg, #33946e, #5bc399);
  height:27vh;
  width:375px;
  border-top-left-radius: 3%;
  border-top-right-radius:3%;
  /* overflow:scroll; */
}
.card-title{
  color:#f2f2f2;
  position: absolute;
  left:40px;
  top:70px;
  font-size: 30px;
  font-weight:Extra-Light;
  font-family: 'Montserrat', sans-serif;
}
.wave{
  font-size: 30px;
  margin-left:6px;
}

.card-modal-img{
  height:35px;
  width:30px;
  position: absolute;
  top:22px;
  left:40px;
}
.bottom-modal{
  background-color: #fff;
  height:100%;
  border-radius: 3%;
}
.bottom-modal{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow:hidden;
  background-color:#f2f2f2;
}
.bottom-card-top{
  margin-top:135px;
  width:90%;
  height:180px;
  /* top:199px; */
  position: relative;
  /* border:1px solid black; */
  background-color:#fff;
  border-radius: 2%;
  -webkit-box-shadow: 3px 8px 8px -5px rgba(0,0,0,0.24); 
box-shadow: 3px 8px 8px -5px rgba(43, 43, 43, 0.10);
}

.bottom-card-middle{
  width:90%;
  height:220px;
  position: relative;

  margin-top:20px;
  background-color:#fff;
  border-radius: 2%;
  -webkit-box-shadow: 3px 8px 8px -5px rgba(0,0,0,0.24); 
box-shadow: 3px 8px 8px -5px rgba(43, 43, 43, 0.10);
}
.bottom-card-bottom{
  width:90%;
  height:180px;
  position:relative;
  margin-top:20px;
  background-color:#fff;
 
  overflow: scroll;
  border-radius: 2%;
  -webkit-box-shadow: 3px 8px 8px -5px rgba(0,0,0,0.24); 
box-shadow: 3px 8px 8px -5px rgba(43, 43, 43, 0.10);
}


/* FIXME:  button animation*/


#modal-circle{
  overflow:hidden;
}

#modal-circle span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  color: #fff;
  transition: 0.6s ease-in-out;
}
/* #modal-circle span:nth-child(2) {
  
} */
#modal-circle span.active {
  transform: translateY(-125%)
}
.fa-comment{
  margin-bottom:15px;
}