*{

  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  color:#fff
}


img.background{
  display:block;
  position: absolute;
  height:75vh;
  object-fit: cover;
  width:100%;
  z-index: 0;


}
nav{
  position: relative;
  z-index:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center;
  min-height:13vh;
  justify-content: space-around;
}

img.logos{
  position: relative;
  height: 60px;
  width: 200px;
  margin-left:-100px;


}
.nav-bar-list{
  display: flex;
  padding:20px;
  font-size: 200px;
  /* padding:-20px; */

}
.nav-bar-list a {
  color:#fff;
  text-decoration: none;
  letter-spacing: none;
  font-weight:500;
  font-size: 18px;
  padding-top:12px;
  padding-right: 43px;

}
li.nav-link  {
  list-style-type: none;

}
a.log {

  text-decoration: none;
  color:#fff;


}
.login{

  text-decoration: none;
  color:#fff;
  display:block;
  overflow: hidden;
  margin-right:10px;
 /* float:right; */
}
.burger div {
  width:25px;
  height: 3px;
  background-color:#ccc;
  margin:6px;
}
.burger{
  display: none;
}
.getStarted {
  float:right;
  margin-top:-85px;
  position: relative;
  z-index: 1;

  margin-right:35px;
  background-color: #5bc399;
  border-color:none;
  font-size:1rem;
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 12px 30px;
  border-radius: 5px;
  /* padding-left:10px; */
}
.getStarted:hover{
  background-color:#4eab86;
}
#chrome{
 /* margin-bottom: 1rem; */
  display: block;
  max-height:400px;
  min-height:410px;
 /* position: absolute; */
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:7rem;
/* border: 4px solid black;  */

}

img.chromeTab{
  display: block;
  height:400px;
  width:800px;
  background:no-repeat 50% 0;
  /* margin: 0 auto; */
  position: relative;
  min-height: 400px;

  /* left:50%; */
  z-index: 1;
  /* top:70vh; */
  /* object-fit:cover; */
  /* margin-top:-200px; */
  /* max-height: 43vh;
  min-height: 43vh; */
  /* min-width: 100%; */
  /* width:40%; */
  /* margin-bottom:100px; */
  /* height: 100%; */
   /* transform: translate(-50%, -50%);  */
  /* display: none; */
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 margin-top:40px;
 /* position: absolute; */
}
.mainTitle{

  top:5vh;
  position: relative;
  z-index:0;
  letter-spacing: 0.06rem;

  color:#fff;
  font-family:"Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  line-height: 1.15;
  text-align: center;
  font-size: 51px;
  font-weight: 600;
 /* height:50vh; */
  text-shadow:   0 2px 4px rgba(0,0,0,.5);

}

.main2{
  z-index: 0;
  position: relative;
  /* margin-bottom: 3rem; */
  top:65px;
  font-size: 1.3124rem;
  /* letter-spacing: .07rem; */
  text-align: center;
  z-index: 1;
  font-weight: 300;
  line-height: 1.75rem;
  color:#fff;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;

}

.titles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */

}
.button-getStarted{
  display:flex;
  justify-content: center;
  align-items: center;

}

.getStartedFree{
  background-color: #5bc399;
  border-color:none;
  font-size: 16px;

  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 18px 30px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:200px;
}
.getStartedFree:hover{
  background-color:#4eab86;
}

.move{
  margin-top:10px;
  font-size: 16px;
  font-weight: bold;
  /* padding-top:20px; */
  /* position: absolute; */
}

.get-event{
  text-align: center;
  font-size: 16;
  font-weight: 400;
  letter-spacing: 0.01rem;
}



.move-beyond{
  font-weight: bold;
 font-size: 16px;
 text-align: center;
 /* margin-top:30px; */
}
.pipe-line-p{
  font-size: 15px;
  text-align: center;
  /* margin-bottom:20px; */
}


/* @media screen and (max-width:1024px){
  .nav-link{
  }
} */
@media screen and (max-width:1024px){
  #chrome{
  /* margin-top:-2vh; */
  height:200px;

}
 img.logos{
    height:40px;
    width:140px;
    margin-left:2px;
}
}
 /* @media screen and (max-width:768px) {
   img.logo{

   }
   #chrome
 } */

@media screen and (max-width:1024px){
  .login {
    display: none;
  }
  .getStarted{
    display:none;
  }
  .nav-link{
    display:none;
  }

  .login{
    display:none;
  }
  .burger{
  display:block;
 }
}
/* <<<<<<< HEAD */


main{
  display: block;
}
section{
  display: block;
}
#platform{
  background-color: white;
  padding: 60px 7% 80px;
  text-align: center;
}
#platform-header{
  display: block;
  width: 100%;
  margin-left: 0;
}
.platform-box{
  background-color: #F7F7F7;
  padding: 60px 7% 80px 7%;
  margin-bottom: 30px;
  text-align: center;
}
.platform-img{
  width: 160px;
  text-align: center;
  vertical-align: middle;
  border-style: none;

}

/* FIXME: THE Software delivery machine SECTION */

.softwareDelivery{
  margin-top:200px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width:100%;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;

}
.software-title{
 
  width:100%;
}
.software-main{
  font-size: 32px;
  color:#2a2a2a;
  font-weight: 600;
  line-height: 37.5px;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
}
.software-main2{
 font-size:18px;
 line-height: 30px;
 color:#717274;
 padding-bottom:15px;
 letter-spacing: .012rem;
}
.software-p{
  color:#717274;
  font-size:18px;
  margin-bottom:30px;
  letter-spacing: .012rem;
  
}


.outer-board{
  /* background-color:rgb(193, 193, 198); */
  margin:0,auto;
  width:80%;
  margin-bottom:500px;
}

.back-board{
  position: relative;
  width:1000px;
  height:820px;
  background-color: #f7f7f7;
  left: 50%;
  /* margin-top:-10px; */
  transform: translateX(-50%);
  /* margin-bottom:820px; */
}

@media screen and (max-width:1600px) {

  .back-board{
    width:80vw;
    /* background-color:blue; */
  }

}
/* 
@media screen and(max-width:1000px){

} */


.software-title{
  text-align: center;

}

/* TODO:part1 */
.mainSection1{
  position: relative;
  display: inline-block;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  margin:50px 30px 10px 50px;
  /* margin:50px; */
  
}
.main-title1{
  padding-left:30px;
  font-size: 18px;
}

.main-p1{
  margin-left:30px;
  font-size: 13px;
  line-height: 1.5rem;
  color:#717274;
  
}
.circle1{
  height: 15px;
  width: 15px;
  background-color: #007bbd;
  border-radius: 50%;
  position: absolute;

}


/* TODO: part 2 */
.mainSection2{
  position: relative;
  margin-left:295px;
  font-size: 13px;
  margin-right:30px;
  word-wrap: break-word;
  margin-top:60px;
}
.main-title2{
  margin-left:30px;
  font-size:18px;
}
.main-p2{
  margin-left:30px;
  color:#717274;
  line-height: 1.5rem;
}


.circle2{
  height: 15px;
  width: 15px;
  background-color: #5bbcc3;
  border-radius: 50%;
  position: absolute;
  top:3px;
  
}

/* TODO:Section3 */

.mainSection3{
 margin-left:350px;
 margin-top:80px;
 margin-bottom:60px;
 margin-right:30px;
}

.main-title3{
  font-size:18px;
  padding-left:30px;
}

.main-p3{
  font-size:13px;
  line-height: 1.5rem;
  color:#717274;
  margin-left:30px;
}
.circle3{
height:15px;
width:15px;
background-color:#c6dd72;
border-radius: 50%;
position: absolute;
margin-top:3px;
/* top:3px; */
}
/* TODO:section4 */

.mainSection4{
  osition: relative;
  margin-left:295px;
  font-size: 13px;
  margin-right:40px;
  word-wrap: break-word;
  margin-right:30px;
  /* margin-top:60px; */
 }
 
 .main-title4{
   font-size:18px;
   padding-left:30px;
 }
 
 .main-p4{
   font-size:13px;
   line-height: 1.5rem;
   color:#717274;
   margin-left:30px;
 }
 .circle4{
 height:15px;
 width:15px;
 background-color:#226f7e;
 border-radius: 50%;
 position: absolute;
 margin-top:3px;
 /* top:3px; */
 }

 /* TODO:section5 */
 .mainSection5{
  position: relative;
  display: inline-block;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  margin:50px 20px 10px 50px;
  /* margin:50px; */
  
}
.main-title5{
  padding-left:30px;
  font-size: 18px;
}

.main-p5{
  margin-left:30px;
  font-size: 13px;
  line-height: 1.5rem;
  color:#717274;
  
}
.circle5{
  height: 15px;
  width: 15px;
  background-color: #1b2937;
  border-radius: 50%;
  position: absolute;

}




/* FIXME: Image */
.softwareImg{
  height:0%;
  width:30%;
  margin-left:-201px;
  
}
.SDM{
  /* margin-left:-950px; */
  height:500px;
  width:500px;
  
 
}
 @media screen and (max-width:1200px){
   .SDM{
     height:400px;
     width:400px;
   }
   .softwareImg{
     margin-left:-100px;
     margin-top:30px;
  
   }
   .mainSection2,.mainSection2.mainSection3.mainSection4{
     margin-top:10px;

     
   }
   .mainSection5{
     margin-top:-10px;
     
   }
 }


