*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background:#f2eded; */
  /* display:block; */
}

img.background{
  display:block;
  position: absolute;
  height:70vh;
  object-fit: cover;
  width:100%;
  z-index: -1;

  
}
nav{
  position: relative;
  z-index:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center;
  min-height:13vh;
  justify-content: space-around;
}
/* nav:first-child{
    align-items: flex-start;
} */
.logos{
  height: 55px;
  width: 200px;
  margin-left:-100px;
}
.nav-bar-list{
  display: flex;
  padding:-20px;
  /* justify-content: space-around;
  width:2%; */
}
.nav-bar-list a {
  color:#fff;
  text-decoration: none;
  letter-spacing: none;
  font-weight:400;
  font-size: 16px;
  padding:20px;
  /* margin-left:50px; */
}
li.nav-link  {
  list-style-type: none;
  /* text-align: center; */
}
a.log {
 
  text-decoration: none;
  color:#fff;
  /* font-size:12px; */
}
.login{
  text-decoration: none;
  color:#fff;
  margin-right:-20rem;
  display:block;
 /* float:right; */
}
.burger div {
  width:25px;
  height: 3px;
  background-color:#ccc;
  margin:6px;
}
.burger{
  display: none;
}
.getStarted {
  display: inline-block;
  margin-right:-6rem;
  background-color: #5bc399;
  border-color:none;
  font-size:1rem;
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 13px 35px 13px 35px;
  border-radius: 5px;
  /* padding-left:10px; */
}
.getStarted:hover{
  background-color:#4eab86;
}
.chrome{

  /* display:flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; */
  
}

img.chromeTab{
  /* display: block; */
  position: absolute;
  left:50%;
  /* z-index: 2; */
  /* top:70vh; */
  margin-top:-200px;
  max-height: 43vh;
  min-height: 43vh;
  /* margin-bottom:100px; */
  /* height: 100%; */
   transform: translate(-50%, -50%); 
  /* display: none; */
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height:25vh; */
}
.mainTitle{
  /* display:flex-end; */
  top:54px;
  position: relative;
  z-index:0;
  color:#fff;
  font-family:"Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;
  line-height: 1.15;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
 /* height:50vh; */
  text-shadow:   0 2px 4px rgba(0,0,0,.5);

}

.main2{
  z-index: 0;
  position: relative;
  /* margin-bottom: 3rem; */
  top:70px;
  font-size: 1.5rem;
  letter-spacing: .09rem;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  line-height: 1.12;
  color:#fff;
  font-family: "Tofino", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", sans-serif;

}
.pipelines{
  position: relative;
  display:block;
  margin-top:35rem;
 display: flex;
 justify-content: center;
 align-items:center;
 flex-direction: column;
 z-index: auto;
 /* margin-bottom: 200px; */

}

.move-beyond{
  font-weight: bold;
 font-size: 16px;
 margin-top:30px;
}
.pipe-line-p{
  font-size: 15px;
  text-align: center;
  /* margin-bottom:20px; */
}
.startButtonFree{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.getStartedFree{
  background-color: #5bc399;
  border-color:none;
  font-size: 16px;
 
  border:1px solid transparent;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color:#fff;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:200px;
}
/* @media screen and (max-width:1024px){
  .nav-link{
  }
} */
@media screen and (max-width:890px){
img.chromeTab{
  
}
.pipelines{
  margin-top:75vh;
}
.move-beyond{
  font-size:14px;
}
.pipe-line-p{
  font-size: 13px;
}
}
@media screen and (max-width:890px){
  .login {
    display: none;
  }
  .getStarted{
    display:none;
  }
  .nav-link{
    display:none;
  }

  .login{
    display:none;
  }
  .burger{
  display:block;
 }
}
